#navigation {
    margin-bottom: 20px;
}

#navigation__title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

#navigation__links {
    padding: 10px;
    background-color: gray;
}

.navigation__links__item {
    margin: 0 10px;
}
